html {
    background-color:black;

}

body {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    float: center;
    width :800px;
    background-color : #1f1f1f;
    color: 	#bebebe;
    height: 1000px;
}

#header {
    padding-top: 20px;

}
.link{
    color: #bebebe;
    text-decoration: underline;
}

.list{
    color: #bebebe;
    text-decoration: underline;
}

h1 {
    color: #bebebe;
}

h2 {
    color: #bebebe;
}